@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Thin'), 
    local('Roboto-Thin'), 
    url('../assets/fonts/Robotothin.woff2') format('woff2'), 
    url('../assets/fonts/Robotothin.woff') format('woff'), 
    url('../assets/fonts/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Thin Italic'), 
    local('Roboto-ThinItalic'), 
    url('../assets/fonts/Robotothinitalic.woff2') format('woff2'), 
    url('../assets/fonts/Robotothinitalic.woff') format('woff'), 
    url('../assets/fonts/Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Light'), 
    local('Roboto-Light'), 
    url('../assets/fonts/Robotolight.woff2') format('woff2'), 
    url('../assets/fonts/Robotolight.woff') format('woff'), 
    url('../assets/fonts/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Light Italic'), 
    local('Roboto-LightItalic'), 
    url('../assets/fonts/Robotolightitalic.woff2') format('woff2'), 
    url('../assets/fonts/Robotolightitalic.woff') format('woff'), 
    url('../assets/fonts/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto'), 
    local('Roboto-Regular'), 
    url('@/assets/fonts/Roboto.woff2') format('woff2'), 
    url('@/assets/fonts/Roboto.woff') format('woff'), 
    url('@/assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Italic'), 
    local('Roboto-Italic'), 
    url('../assets/fonts/Robotoitalic.woff2') format('woff2'), 
    url('../assets/fonts/Robotoitalic.woff') format('woff'), 
    url('../assets/fonts/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Medium'), 
    local('Roboto-Medium'), 
    url('../assets/fonts/Robotomedium.woff2') format('woff2'), 
    url('../assets/fonts/Robotomedium.woff') format('woff'), 
    url('../assets/fonts/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Medium Italic'), 
    local('Roboto-MediumItalic'), 
    url('../assets/fonts/Robotomediumitalic.woff2') format('woff2'), 
    url('../assets/fonts/Robotomediumitalic.woff') format('woff'), 
    url('../assets/fonts/Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Bold'), 
    local('Roboto-Bold'), 
    url('../assets/fonts/Robotobold.woff2') format('woff2'), 
    url('../assets/fonts/Robotobold.woff') format('woff'), 
    url('../assets/fonts/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Bold Italic'), 
    local('Roboto-BoldItalic'), 
    url('../assets/fonts/Robotobolditalic.woff2') format('woff2'), 
    url('../assets/fonts/Robotobolditalic.woff') format('woff'), 
    url('../assets/fonts/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Black'), 
    local('Roboto-Black'), 
    url('../assets/fonts/Robotoblack.woff2') format('woff2'), 
    url('../assets/fonts/Robotoblack.woff') format('woff'), 
    url('../assets/fonts/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    local('Roboto Black Italic'), 
    local('Roboto-BlackItalic'), 
    url('../assets/fonts/Robotoblackitalic.woff2') format('woff2'), 
    url('../assets/fonts/Robotoblackitalic.woff') format('woff'), 
    url('../assets/fonts/Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  letter-spacing: -0.24px;
}

h1 {
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-size: 29px;
  line-height: 32px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}