<template>
  <Header/>
  <slot></slot>
  <Footer/>
</template>

<script>
import Header from "@/components/Header.vue"
import Footer from "@/components/Footer.vue"

export default {
  name: "HomeComponent",
  components: {
    Header,
    Footer
  },
};
</script>
